
<div>
	<input type = "text" placeholder="name" ng-model="pet.name"><br>
	<input type = "text" placeholder="type" ng-model="pet.type"><br>
	<input type = "text" placeholder="a really cool nickname" ng-model="pet.nickName"><br>
	<input type = "submit" value = "CREATE" ng-click="vm.createPet(pet)">
</div>

<div>
	<input type="text" placeholder="id" ng-model="pet.id">
	<input type="submit" value="DESTROY" ng-click="vm.destroyPet(pet.id)">
</div>

<div>
<input type="text" placeholder="id" ng-model="petty.id">
	<input type="submit" value="show" ng-click="vm.showPet(petty.id)">
	
	<div ng-hide="vm.hideEditForm">
	<h3>Id: {{vm.onePet.id}}</h3>
	<h3>Name: <input type="text" placeholder={{vm.onePet.name}} ng-model="pett.name"></h3>
	<h3>Type: <input type="text" placeholder={{vm.onePet.type}} ng-model="pett.type"></h3>
	<h3>Nick Name: <input type="text" placeholder={{vm.onePet.nickName}} ng-model="pett.nickName"></h3>
	<input type="submit" value="Save Changes To This Pet" ng-click="vm.editPet(vm.onePet.id, pett)">
	
	</div>
</div>


<h1>YOUR COST PER YEAR : ${{vm.petsCost}}</h1>
<div ng-repeat="pet in vm.petsArray">
	<h3>{{pet}}</h3><br>
</div>






